.button {

    /*
    <button class="button">
        <i class="material-symbols-outlined">menu</i>
        <label>Button</label>
    </button>
    */

    box-sizing: border-box;
    position: relative;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: var(--md-sys-color-surface);
    padding: 0px 24px;
    border: none;
    border-radius: 20px;
    box-shadow: var(--md-sys-elevation-1);

    color: var(--md-sys-color-primary);
    line-height: var(--md-sys-typescale-label-large-line-height);
    letter-spacing: var(--md-sys-typescale-label-large-tracking);
    font-size: var(--md-sys-typescale-label-large-size);
    font-weight: var(--md-sys-typescale-label-large-weight);

    transition: box-shadow 0.2s ease-in-out 0s;
}




/*  icon-button:

<button class="icon-button">
    <i class="icon">menu</i>
</button>

*/

.icon-button {
    cursor: pointer;
    height: 48px;
    height: 48px;
    padding: 4px;
    border: none;
    background-color: transparent;
}

.icon-button .icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 20px;
    box-shadow: var(--md-sys-elevation-0);
    color: var(--md-sys-color-on-surface);
    background-color: transparent;
}

.icon-button:hover .icon {
    background: rgb(var(--md-sys-color-on-surface-variant-rgb) / var(--md-sys-state-hover-state-layer-opacity));
}


/*

.icon-button:active .icon {
    background: rgb(var(--md-sys-color-on-surface-variant-rgb) / var(--md-sys-state-focus-state-layer-opacity));
}
*/

.button[disabled],
.icon-button[disabled] {
    opacity:38%;
}




.icon-button.fab {
    cursor: pointer;
    height: 56px;
    width: 56px;
    padding: 4px;
    border: none;
    background-color: transparent;

}

.icon-button.fab .icon {
    height: 56px;
    width:56px;
    padding:16px;
    border-radius:28px;
    font-size:24px;
    background-color:var(--md-sys-color-on-primary-container);
    color:var(--md-sys-color-surface);
    box-shadow: var(--md-sys-elevation-3);

}



.icon-button.fab-large {
    cursor: pointer;
    height: 96px;
    height: 96px;
    padding: 100px;
    border: none;
    background-color: transparent;

}

.icon-button.fab-large .icon {
    height: 96px;
    width:96px;
    padding:16px;
    border-radius:28px;
    font-size:24px;
    background-color:var(--md-sys-color-on-primary-container);
    color:var(--md-sys-color-surface);
    box-shadow: var(--md-sys-elevation-3);

}