
:root{


--md-sys-color-primary: #006a60;
--md-sys-color-primary-rgb: 0 106 96;
--md-sys-color-on-primary: #ffffff;
--md-sys-color-on-primary-rgb: 255 255 255;
--md-sys-color-primary-container: #74f8e5;
--md-sys-color-primary-container-rgb: 116 248 229;
--md-sys-color-on-primary-container: #00201c;
--md-sys-color-on-primary-container-rgb: 0 32 28;
--md-sys-color-secondary: #4a635f;
--md-sys-color-secondary-rgb: 74 99 95;
--md-sys-color-on-secondary: #ffffff;
--md-sys-color-on-secondary-rgb: 255 255 255;
--md-sys-color-secondary-container: #cce8e2;
--md-sys-color-secondary-container-rgb: 204 232 226;
--md-sys-color-on-secondary-container: #05201c;
--md-sys-color-on-secondary-container-rgb: 5 32 28;
--md-sys-color-tertiary: #456179;
--md-sys-color-tertiary-rgb: 69 97 121;
--md-sys-color-on-tertiary: #ffffff;
--md-sys-color-on-tertiary-rgb: 255 255 255;
--md-sys-color-tertiary-container: #cce5ff;
--md-sys-color-tertiary-container-rgb: 204 229 255;
--md-sys-color-on-tertiary-container: #001e31;
--md-sys-color-on-tertiary-container-rgb: 0 30 49;
--md-sys-color-error: #ba1a1a;
--md-sys-color-error-rgb: 186 26 26;
--md-sys-color-error-container: #ffdad6;
--md-sys-color-error-container-rgb: 255 218 214;
--md-sys-color-on-error: #ffffff;
--md-sys-color-on-error-rgb: 255 255 255;
--md-sys-color-on-error-container: #410002;
--md-sys-color-on-error-container-rgb: 65 0 2;
--md-sys-color-background: #fafdfb;
--md-sys-color-background-rgb: 250 253 251;
--md-sys-color-on-background: #191c1b;
--md-sys-color-on-background-rgb: 25 28 27;
--md-sys-color-surface: #fafdfb;
--md-sys-color-surface-rgb: 250 253 251;
--md-sys-color-on-surface: #191c1b;
--md-sys-color-on-surface-rgb: 25 28 27;
--md-sys-color-surface-variant: #dae5e1;
--md-sys-color-surface-variant-rgb: 218 229 225;
--md-sys-color-on-surface-variant: #3f4947;
--md-sys-color-on-surface-variant-rgb: 63 73 71;
--md-sys-color-outline: #6f7977;
--md-sys-color-outline-rgb: 111 121 119;
--md-sys-color-inverse-on-surface: #eff1ef;
--md-sys-color-inverse-on-surface-rgb: 239 241 239;
--md-sys-color-inverse-surface: #2d3130;
--md-sys-color-inverse-surface-rgb: 45 49 48;
--md-sys-color-inverse-primary: #53dbc9;
--md-sys-color-inverse-primary-rgb: 83 219 201;
--md-sys-color-shadow: #000000;
--md-sys-color-shadow-rgb: 0 0 0;
--md-sys-color-surface-tint: #006a60;
--md-sys-color-surface-tint-rgb: 0 106 96;
--md-sys-color-outline-variant: #bec9c6;
--md-sys-color-outline-variant-rgb: 190 201 198;
--md-sys-color-scrim: #000000;
--md-sys-color-scrim-rgb: 0 0 0;


--md-sys-color-primary-light: #006a60;
--md-sys-color-primary-light-rgb: 0 106 96;
--md-sys-color-on-primary-light: #ffffff;
--md-sys-color-on-primary-light-rgb: 255 255 255;
--md-sys-color-primary-container-light: #74f8e5;
--md-sys-color-primary-container-light-rgb: 116 248 229;
--md-sys-color-on-primary-container-light: #00201c;
--md-sys-color-on-primary-container-light-rgb: 0 32 28;
--md-sys-color-secondary-light: #4a635f;
--md-sys-color-secondary-light-rgb: 74 99 95;
--md-sys-color-on-secondary-light: #ffffff;
--md-sys-color-on-secondary-light-rgb: 255 255 255;
--md-sys-color-secondary-container-light: #cce8e2;
--md-sys-color-secondary-container-light-rgb: 204 232 226;
--md-sys-color-on-secondary-container-light: #05201c;
--md-sys-color-on-secondary-container-light-rgb: 5 32 28;
--md-sys-color-tertiary-light: #456179;
--md-sys-color-tertiary-light-rgb: 69 97 121;
--md-sys-color-on-tertiary-light: #ffffff;
--md-sys-color-on-tertiary-light-rgb: 255 255 255;
--md-sys-color-tertiary-container-light: #cce5ff;
--md-sys-color-tertiary-container-light-rgb: 204 229 255;
--md-sys-color-on-tertiary-container-light: #001e31;
--md-sys-color-on-tertiary-container-light-rgb: 0 30 49;
--md-sys-color-error-light: #ba1a1a;
--md-sys-color-error-light-rgb: 186 26 26;
--md-sys-color-error-container-light: #ffdad6;
--md-sys-color-error-container-light-rgb: 255 218 214;
--md-sys-color-on-error-light: #ffffff;
--md-sys-color-on-error-light-rgb: 255 255 255;
--md-sys-color-on-error-container-light: #410002;
--md-sys-color-on-error-container-light-rgb: 65 0 2;
--md-sys-color-background-light: #fafdfb;
--md-sys-color-background-light-rgb: 250 253 251;
--md-sys-color-on-background-light: #191c1b;
--md-sys-color-on-background-light-rgb: 25 28 27;
--md-sys-color-surface-light: #fafdfb;
--md-sys-color-surface-light-rgb: 250 253 251;
--md-sys-color-on-surface-light: #191c1b;
--md-sys-color-on-surface-light-rgb: 25 28 27;
--md-sys-color-surface-variant-light: #dae5e1;
--md-sys-color-surface-variant-light-rgb: 218 229 225;
--md-sys-color-on-surface-variant-light: #3f4947;
--md-sys-color-on-surface-variant-light-rgb: 63 73 71;
--md-sys-color-outline-light: #6f7977;
--md-sys-color-outline-light-rgb: 111 121 119;
--md-sys-color-inverse-on-surface-light: #eff1ef;
--md-sys-color-inverse-on-surface-light-rgb: 239 241 239;
--md-sys-color-inverse-surface-light: #2d3130;
--md-sys-color-inverse-surface-light-rgb: 45 49 48;
--md-sys-color-inverse-primary-light: #53dbc9;
--md-sys-color-inverse-primary-light-rgb: 83 219 201;
--md-sys-color-shadow-light: #000000;
--md-sys-color-shadow-light-rgb: 0 0 0;
--md-sys-color-surface-tint-light: #006a60;
--md-sys-color-surface-tint-light-rgb: 0 106 96;
--md-sys-color-outline-variant-light: #bec9c6;
--md-sys-color-outline-variant-light-rgb: 190 201 198;
--md-sys-color-scrim-light: #000000;
--md-sys-color-scrim-light-rgb: 0 0 0;
--md-sys-color-primary-dark: #53dbc9;
--md-sys-color-primary-dark-rgb: 83 219 201;
--md-sys-color-on-primary-dark: #003731;
--md-sys-color-on-primary-dark-rgb: 0 55 49;
--md-sys-color-primary-container-dark: #005048;
--md-sys-color-primary-container-dark-rgb: 0 80 72;
--md-sys-color-on-primary-container-dark: #74f8e5;
--md-sys-color-on-primary-container-dark-rgb: 116 248 229;
--md-sys-color-secondary-dark: #b1ccc6;
--md-sys-color-secondary-dark-rgb: 177 204 198;
--md-sys-color-on-secondary-dark: #1c3531;
--md-sys-color-on-secondary-dark-rgb: 28 53 49;
--md-sys-color-secondary-container-dark: #334b47;
--md-sys-color-secondary-container-dark-rgb: 51 75 71;
--md-sys-color-on-secondary-container-dark: #cce8e2;
--md-sys-color-on-secondary-container-dark-rgb: 204 232 226;
--md-sys-color-tertiary-dark: #adcae6;
--md-sys-color-tertiary-dark-rgb: 173 202 230;
--md-sys-color-on-tertiary-dark: #153349;
--md-sys-color-on-tertiary-dark-rgb: 21 51 73;
--md-sys-color-tertiary-container-dark: #2d4961;
--md-sys-color-tertiary-container-dark-rgb: 45 73 97;
--md-sys-color-on-tertiary-container-dark: #cce5ff;
--md-sys-color-on-tertiary-container-dark-rgb: 204 229 255;
--md-sys-color-error-dark: #ffb4ab;
--md-sys-color-error-dark-rgb: 255 180 171;
--md-sys-color-error-container-dark: #93000a;
--md-sys-color-error-container-dark-rgb: 147 0 10;
--md-sys-color-on-error-dark: #690005;
--md-sys-color-on-error-dark-rgb: 105 0 5;
--md-sys-color-on-error-container-dark: #ffdad6;
--md-sys-color-on-error-container-dark-rgb: 255 218 214;
--md-sys-color-background-dark: #191c1b;
--md-sys-color-background-dark-rgb: 25 28 27;
--md-sys-color-on-background-dark: #e0e3e1;
--md-sys-color-on-background-dark-rgb: 224 227 225;
--md-sys-color-surface-dark: #191c1b;
--md-sys-color-surface-dark-rgb: 25 28 27;
--md-sys-color-on-surface-dark: #e0e3e1;
--md-sys-color-on-surface-dark-rgb: 224 227 225;
--md-sys-color-surface-variant-dark: #3f4947;
--md-sys-color-surface-variant-dark-rgb: 63 73 71;
--md-sys-color-on-surface-variant-dark: #bec9c6;
--md-sys-color-on-surface-variant-dark-rgb: 190 201 198;
--md-sys-color-outline-dark: #899390;
--md-sys-color-outline-dark-rgb: 137 147 144;
--md-sys-color-inverse-on-surface-dark: #191c1b;
--md-sys-color-inverse-on-surface-dark-rgb: 25 28 27;
--md-sys-color-inverse-surface-dark: #e0e3e1;
--md-sys-color-inverse-surface-dark-rgb: 224 227 225;
--md-sys-color-inverse-primary-dark: #006a60;
--md-sys-color-inverse-primary-dark-rgb: 0 106 96;
--md-sys-color-shadow-dark: #000000;
--md-sys-color-shadow-dark-rgb: 0 0 0;
--md-sys-color-surface-tint-dark: #53dbc9;
--md-sys-color-surface-tint-dark-rgb: 83 219 201;
--md-sys-color-outline-variant-dark: #3f4947;
--md-sys-color-outline-variant-dark-rgb: 63 73 71;
--md-sys-color-scrim-dark: #000000;
--md-sys-color-scrim-dark-rgb: 0 0 0;
--md-ref-palette-primary0: #000000;
--md-ref-palette-primary0-rgb: 0 0 0;
--md-ref-palette-primary10: #00201c;
--md-ref-palette-primary10-rgb: 0 32 28;
--md-ref-palette-primary20: #003731;
--md-ref-palette-primary20-rgb: 0 55 49;
--md-ref-palette-primary25: #00443d;
--md-ref-palette-primary25-rgb: 0 68 61;
--md-ref-palette-primary30: #005048;
--md-ref-palette-primary30-rgb: 0 80 72;
--md-ref-palette-primary35: #005d54;
--md-ref-palette-primary35-rgb: 0 93 84;
--md-ref-palette-primary40: #006a60;
--md-ref-palette-primary40-rgb: 0 106 96;
--md-ref-palette-primary50: #008679;
--md-ref-palette-primary50-rgb: 0 134 121;
--md-ref-palette-primary60: #00a293;
--md-ref-palette-primary60-rgb: 0 162 147;
--md-ref-palette-primary70: #2cbfae;
--md-ref-palette-primary70-rgb: 44 191 174;
--md-ref-palette-primary80: #53dbc9;
--md-ref-palette-primary80-rgb: 83 219 201;
--md-ref-palette-primary90: #74f8e5;
--md-ref-palette-primary90-rgb: 116 248 229;
--md-ref-palette-primary95: #b4fff2;
--md-ref-palette-primary95-rgb: 180 255 242;
--md-ref-palette-primary98: #e4fff9;
--md-ref-palette-primary98-rgb: 228 255 249;
--md-ref-palette-primary99: #f2fffb;
--md-ref-palette-primary99-rgb: 242 255 251;
--md-ref-palette-primary100: #ffffff;
--md-ref-palette-primary100-rgb: 255 255 255;
--md-ref-palette-secondary0: #000000;
--md-ref-palette-secondary0-rgb: 0 0 0;
--md-ref-palette-secondary10: #05201c;
--md-ref-palette-secondary10-rgb: 5 32 28;
--md-ref-palette-secondary20: #1c3531;
--md-ref-palette-secondary20-rgb: 28 53 49;
--md-ref-palette-secondary25: #27403c;
--md-ref-palette-secondary25-rgb: 39 64 60;
--md-ref-palette-secondary30: #334b47;
--md-ref-palette-secondary30-rgb: 51 75 71;
--md-ref-palette-secondary35: #3e5753;
--md-ref-palette-secondary35-rgb: 62 87 83;
--md-ref-palette-secondary40: #4a635f;
--md-ref-palette-secondary40-rgb: 74 99 95;
--md-ref-palette-secondary50: #627c77;
--md-ref-palette-secondary50-rgb: 98 124 119;
--md-ref-palette-secondary60: #7c9691;
--md-ref-palette-secondary60-rgb: 124 150 145;
--md-ref-palette-secondary70: #96b1ab;
--md-ref-palette-secondary70-rgb: 150 177 171;
--md-ref-palette-secondary80: #b1ccc6;
--md-ref-palette-secondary80-rgb: 177 204 198;
--md-ref-palette-secondary90: #cce8e2;
--md-ref-palette-secondary90-rgb: 204 232 226;
--md-ref-palette-secondary95: #daf7f0;
--md-ref-palette-secondary95-rgb: 218 247 240;
--md-ref-palette-secondary98: #e4fff9;
--md-ref-palette-secondary98-rgb: 228 255 249;
--md-ref-palette-secondary99: #f2fffb;
--md-ref-palette-secondary99-rgb: 242 255 251;
--md-ref-palette-secondary100: #ffffff;
--md-ref-palette-secondary100-rgb: 255 255 255;
--md-ref-palette-tertiary0: #000000;
--md-ref-palette-tertiary0-rgb: 0 0 0;
--md-ref-palette-tertiary10: #001e31;
--md-ref-palette-tertiary10-rgb: 0 30 49;
--md-ref-palette-tertiary20: #153349;
--md-ref-palette-tertiary20-rgb: 21 51 73;
--md-ref-palette-tertiary25: #213e55;
--md-ref-palette-tertiary25-rgb: 33 62 85;
--md-ref-palette-tertiary30: #2d4961;
--md-ref-palette-tertiary30-rgb: 45 73 97;
--md-ref-palette-tertiary35: #39556d;
--md-ref-palette-tertiary35-rgb: 57 85 109;
--md-ref-palette-tertiary40: #456179;
--md-ref-palette-tertiary40-rgb: 69 97 121;
--md-ref-palette-tertiary50: #5e7a93;
--md-ref-palette-tertiary50-rgb: 94 122 147;
--md-ref-palette-tertiary60: #7894ae;
--md-ref-palette-tertiary60-rgb: 120 148 174;
--md-ref-palette-tertiary70: #92aec9;
--md-ref-palette-tertiary70-rgb: 146 174 201;
--md-ref-palette-tertiary80: #adcae6;
--md-ref-palette-tertiary80-rgb: 173 202 230;
--md-ref-palette-tertiary90: #cce5ff;
--md-ref-palette-tertiary90-rgb: 204 229 255;
--md-ref-palette-tertiary95: #e7f2ff;
--md-ref-palette-tertiary95-rgb: 231 242 255;
--md-ref-palette-tertiary98: #f7f9ff;
--md-ref-palette-tertiary98-rgb: 247 249 255;
--md-ref-palette-tertiary99: #fcfcff;
--md-ref-palette-tertiary99-rgb: 252 252 255;
--md-ref-palette-tertiary100: #ffffff;
--md-ref-palette-tertiary100-rgb: 255 255 255;
--md-ref-palette-neutral0: #000000;
--md-ref-palette-neutral0-rgb: 0 0 0;
--md-ref-palette-neutral10: #191c1b;
--md-ref-palette-neutral10-rgb: 25 28 27;
--md-ref-palette-neutral20: #2d3130;
--md-ref-palette-neutral20-rgb: 45 49 48;
--md-ref-palette-neutral25: #383c3b;
--md-ref-palette-neutral25-rgb: 56 60 59;
--md-ref-palette-neutral30: #444746;
--md-ref-palette-neutral30-rgb: 68 71 70;
--md-ref-palette-neutral35: #505352;
--md-ref-palette-neutral35-rgb: 80 83 82;
--md-ref-palette-neutral40: #5c5f5e;
--md-ref-palette-neutral40-rgb: 92 95 94;
--md-ref-palette-neutral50: #747876;
--md-ref-palette-neutral50-rgb: 116 120 118;
--md-ref-palette-neutral60: #8e9190;
--md-ref-palette-neutral60-rgb: 142 145 144;
--md-ref-palette-neutral70: #a9acaa;
--md-ref-palette-neutral70-rgb: 169 172 170;
--md-ref-palette-neutral80: #c4c7c5;
--md-ref-palette-neutral80-rgb: 196 199 197;
--md-ref-palette-neutral90: #e0e3e1;
--md-ref-palette-neutral90-rgb: 224 227 225;
--md-ref-palette-neutral95: #eff1ef;
--md-ref-palette-neutral95-rgb: 239 241 239;
--md-ref-palette-neutral98: #f7faf8;
--md-ref-palette-neutral98-rgb: 247 250 248;
--md-ref-palette-neutral99: #fafdfb;
--md-ref-palette-neutral99-rgb: 250 253 251;
--md-ref-palette-neutral100: #ffffff;
--md-ref-palette-neutral100-rgb: 255 255 255;
--md-ref-palette-neutral-variant0: #000000;
--md-ref-palette-neutral-variant0-rgb: 0 0 0;
--md-ref-palette-neutral-variant10: #141d1c;
--md-ref-palette-neutral-variant10-rgb: 20 29 28;
--md-ref-palette-neutral-variant20: #293230;
--md-ref-palette-neutral-variant20-rgb: 41 50 48;
--md-ref-palette-neutral-variant25: #343d3b;
--md-ref-palette-neutral-variant25-rgb: 52 61 59;
--md-ref-palette-neutral-variant30: #3f4947;
--md-ref-palette-neutral-variant30-rgb: 63 73 71;
--md-ref-palette-neutral-variant35: #4b5452;
--md-ref-palette-neutral-variant35-rgb: 75 84 82;
--md-ref-palette-neutral-variant40: #56605e;
--md-ref-palette-neutral-variant40-rgb: 86 96 94;
--md-ref-palette-neutral-variant50: #6f7977;
--md-ref-palette-neutral-variant50-rgb: 111 121 119;
--md-ref-palette-neutral-variant60: #899390;
--md-ref-palette-neutral-variant60-rgb: 137 147 144;
--md-ref-palette-neutral-variant70: #a3adaa;
--md-ref-palette-neutral-variant70-rgb: 163 173 170;
--md-ref-palette-neutral-variant80: #bec9c6;
--md-ref-palette-neutral-variant80-rgb: 190 201 198;
--md-ref-palette-neutral-variant90: #dae5e1;
--md-ref-palette-neutral-variant90-rgb: 218 229 225;
--md-ref-palette-neutral-variant95: #e9f3f0;
--md-ref-palette-neutral-variant95-rgb: 233 243 240;
--md-ref-palette-neutral-variant98: #f1fcf8;
--md-ref-palette-neutral-variant98-rgb: 241 252 248;
--md-ref-palette-neutral-variant99: #f4fffb;
--md-ref-palette-neutral-variant99-rgb: 244 255 251;
--md-ref-palette-neutral-variant100: #ffffff;
--md-ref-palette-neutral-variant100-rgb: 255 255 255;
--md-ref-palette-error0: #000000;
--md-ref-palette-error0-rgb: 0 0 0;
--md-ref-palette-error10: #410002;
--md-ref-palette-error10-rgb: 65 0 2;
--md-ref-palette-error20: #690005;
--md-ref-palette-error20-rgb: 105 0 5;
--md-ref-palette-error25: #7e0007;
--md-ref-palette-error25-rgb: 126 0 7;
--md-ref-palette-error30: #93000a;
--md-ref-palette-error30-rgb: 147 0 10;
--md-ref-palette-error35: #a80710;
--md-ref-palette-error35-rgb: 168 7 16;
--md-ref-palette-error40: #ba1a1a;
--md-ref-palette-error40-rgb: 186 26 26;
--md-ref-palette-error50: #de3730;
--md-ref-palette-error50-rgb: 222 55 48;
--md-ref-palette-error60: #ff5449;
--md-ref-palette-error60-rgb: 255 84 73;
--md-ref-palette-error70: #ff897d;
--md-ref-palette-error70-rgb: 255 137 125;
--md-ref-palette-error80: #ffb4ab;
--md-ref-palette-error80-rgb: 255 180 171;
--md-ref-palette-error90: #ffdad6;
--md-ref-palette-error90-rgb: 255 218 214;
--md-ref-palette-error95: #ffedea;
--md-ref-palette-error95-rgb: 255 237 234;
--md-ref-palette-error98: #fff8f7;
--md-ref-palette-error98-rgb: 255 248 247;
--md-ref-palette-error99: #fffbff;
--md-ref-palette-error99-rgb: 255 251 255;
--md-ref-palette-error100: #ffffff;
--md-ref-palette-error100-rgb: 255 255 255;





--md-sys-color-surface-1: rgb(var(--md-sys-color-primary-rgb) / 0.05);
--md-sys-color-surface-2: rgb(var(--md-sys-color-primary-rgb) / 0.08);
--md-sys-color-surface-3: rgb(var(--md-sys-color-primary-rgb) / 0.11);
--md-sys-color-surface-4: rgb(var(--md-sys-color-primary-rgb) / 0.12);
--md-sys-color-surface-5: rgb(var(--md-sys-color-primary-rgb) / 0.14);


--md-sys-elevation-0: 0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.2), 0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 0px 0px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
    --md-sys-elevation-1: 0px 3px 1px -2px rgb(var(--md-sys-color-shadow-rgb) / 0.2), 0px 2px 2px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 1px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
    --md-sys-elevation-2: 0px 2px 4px -1px rgb(var(--md-sys-color-shadow-rgb) / 0.2), 0px 4px 5px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 1px 10px 0px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
    --md-sys-elevation-3: 0px 5px 5px -3px rgb(var(--md-sys-color-shadow-rgb) / 0.2), 0px 8px 10px 1px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 3px 14px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
    --md-sys-elevation-4: 0px 5px 5px -3px rgb(var(--md-sys-color-shadow-rgb) / 0.2), 0px 8px 10px 1px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 3px 14px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.12);
    --md-sys-elevation-5: 0px 8px 10px -6px rgb(var(--md-sys-color-shadow-rgb) / 0.2), 0px 16px 24px 2px rgb(var(--md-sys-color-shadow-rgb) / 0.14), 0px 6px 30px 5px rgb(var(--md-sys-color-shadow-rgb) / 0.12);



--md-sys-comp-focus-ring-color: var(--md-sys-color-on-surface-variant);
--md-sys-comp-focus-ring-width: 2px;
--md-sys-comp-button-background-color: var(--md-sys-color-surface);
--md-sys-comp-button-color: var(--md-sys-color-primary);
--md-comp-button-container-height: 40px;
--md-comp-button-container-shape: 20px;
--md-sys-comp-fab-background-color: var(--md-sys-color-primary-container);
--md-sys-comp-fab-color: var(--md-sys-color-on-primary-container);
--md-comp-fab-container-size: 56px;
--md-sys-comp-card-width: 300px;
--md-sys-comp-chip-background-color: var(--md-sys-color-surface);
--md-sys-comp-chip-color: var(--md-sys-color-primary);
--md-comp-chip-container-height: 32px;
--md-sys-comp-top-app-bar-background-color: var(--md-sys-color-surface);
--md-sys-comp-top-app-bar-color: var(--md-sys-color-on-surface);
--md-sys-comp-top-app-bar-padding: 16px;
--md-sys-comp-text-field-caret-color: var(--md-sys-color-primary);
--md-sys-comp-tooltip-container-background-color: var( --md-sys-color-inverse-surface );
--md-sys-comp-tooltip-container-color: var(--md-sys-color-inverse-on-surface);
--md-sys-comp-tooltip-delay: 0.3s;
--md-sys-comp-switch-thumb-size: 16px;
--md-sys-comp-switch-track-width: 52px;
--md-sys-comp-switch-track-height: 32px;
--md-sys-comp-switch-border-width: 2px;
--md-sys-comp-badge-size: 22px;
--md-sys-comp-badge-dot-size: calc(var(--md-sys-comp-badge-size) / 2);
--md-sys-comp-badge-background-color: var(--md-sys-color-error);
--md-sys-comp-badge-color: var(--md-sys-color-on-error);
--md-sys-comp-checkbox-size: 24px;
--md-sys-comp-checkbox-unselected-color: var(--md-sys-color-outline);
--md-sys-comp-checkbox-selected-color: var(--md-sys-color-primary);
--md-sys-comp-slider-background-color: transparent;
--md-sys-comp-slider-color: var(--md-sys-color-surface-1);
--md-sys-comp-slider-container-height: 36px;
--md-sys-comp-slider-container-width: 100%;
--md-sys-comp-table-border-color: var(--md-sys-color-outline-variant);
--md-sys-comp-divider-color: var(--md-sys-color-outline-variant);
--md-sys-comp-divider-container-height: 1px;
--md-sys-comp-divider-container-width: 100%;
--md-sys-comp-segmented-button-background-color: var(--md-sys-color-surface);
--md-sys-comp-segmented-button-color: var(--md-sys-color-on-surface);
--md-sys-comp-radio-button-unselected-color: var( --md-sys-color-on-surface-variant );
--md-sys-comp-radio-button-selected-color: var(--md-sys-color-primary);
--md-sys-comp-progress-background-color: var(--md-sys-color-surface-variant);
--md-sys-comp-progress-color: var(--md-sys-color-primary);
--md-sys-comp-progress-size: 4px;
--md-sys-comp-progress-circular-size: 32px;
--md-sys-comp-dialog-background-color: var(--md-sys-color-surface);
--md-sys-comp-dialog-color: var(--md-sys-color-on-surface-variant);
--md-comp-dialog-container-min-width: 280px;
--md-comp-dialog-container-max-width: 560px;
--md-sys-comp-navigation-bar-background-color: var(--md-sys-color-surface);
--md-sys-comp-navigation-bar-color: var(--md-sys-color-on-surface);
--md-comp-navigation-bar-container-width: 100%;
--md-sys-comp-navigation-rail-background-color: var(--md-sys-color-surface);
--md-sys-comp-navigation-rail-color: var(--md-sys-color-on-surface);
--md-comp-navigation-rail-container-width: 80px;
--md-comp-navigation-rail-container-height: 100%;
--md-sys-comp-navigation-drawer-background-color: var(--md-sys-color-surface);
--md-sys-comp-navigation-drawer-color: var(--md-sys-color-on-surface-variant);
--md-comp-navigation-drawer-container-height: 100%;
--md-comp-navigation-drawer-container-width: 360px;
--md-sys-comp-snackbar-container-width: 344px;
--md-sys-comp-snackbar-container-background-color: var(--md-sys-color-inverse-surface);
--md-sys-comp-snackbar-container-color: var(--md-sys-color-inverse-on-surface);
--md-sys-comp-tabs-container-background-color: var(--md-sys-color-surface);
--md-sys-comp-tabs-container-color: var(--md-sys-color-on-surface);
--md-comp-tabs-container-min-width: 100px;
--md-comp-list-container-min-width: 300px;




}